.dropdown {
  &__container {
    margin: 12px;
    min-width: 160px;
  }

  &__checkbox {
    left: 0;
    visibility: hidden;
    display: none;

    &:checked + label {
      border-radius: 12px 12px 0px 0px;
    }

    &:checked + label + div {
      display: block;
    }
  }

  &__label {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 12px;
    border: 2px solid var(--origin-primary);
    border-radius: 12px 12px 12px 12px;

    &__text{
    text-align: center;
    font-size: 1rem;
    line-height: 1rem;
    }

    &__icon{
      position: absolute;
      right: 0.2rem;
    }
  }

  &__content {
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    background: white;

    &__list {
      border: 2px solid var(--origin-primary);
      border-top: none;
      list-style-type: none;
      text-align: center;
      border-radius: 0px 0px 12px 12px;
    }

    &__item {
      padding: 1rem;
      cursor: pointer;

      &:last-child{
        border-radius: 0px 0px 12px 12px;
      }

      &:hover {
        background-color: var(--origin-primary);
      }

    }
  }

  &:focus {
    border-color: red;
  }

  &__container {
    position: absolute;
  }
}

#dropdown:checked + label + div {
  display: block;
}
