.dropdown {
  &__container {
    display: inline-block;
    position: relative;
    z-index: 10;
    background-color: transparent;
  }

  &__checkbox {
    left: 0;
    display: none;

    &:checked + label {
      border-radius: var(--border-radius) var(--border-radius) 0px 0px;
    }

    &:checked + label + div {
      display: block;
    }
  }

  &__label {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0.5rem 2rem;
    border: 1px solid var(--origin-primary);
    border-radius: var(--border-radius);
    cursor: pointer;

    &__text {
      text-align: center;
      font-size: 1rem;
      line-height: 1rem;
    }

    &__icon {
      position: absolute;
      right: 0rem;
    }
  }

  &__content {
    font-size: 1rem;
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    border-radius: 0px 0px var(--border-radius) var(--border-radius);

    &__list {
      border: 1px solid var(--origin-primary);
      border-top: none;
      list-style-type: none;
      text-align: center;
      max-height: 9rem;
      border-radius: 0px 0px var(--border-radius) var(--border-radius);

      overflow-y: auto;
      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }

    &__item {
      padding: 0.5rem;
      border-bottom: 1px solid var(--origin-primary);
      cursor: pointer;

      &:last-child {
        border-radius: 0px 0px 9px 9px;
        border-bottom: none;
      }

      &:hover {
        background-color: var(--origin-primary);
      }
    }
  }
}

.dropdown__remind-option__first{
  z-index: 13;
}

.dropdown__remind-option__second{
  z-index: 12;
}

.dropdown__remind-option__third{
  z-index: 11;
}
