.ajaja {
  &-button {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: bold;
    border: none;
    &:hover {
      cursor: pointer;
    }
  }
  &-name {
    margin-top: -5px;
  }
}
