.ajaja {
  &-button {
    display: flex;
    align-items: center;
    background-color: transparent;
    gap: 5px;
    border: none;
    font-weight: bold;
    &:hover {
      cursor: pointer;
    }
  }
  &-name {
    margin-top: -5px;
  }
  &-p {
    margin-top: 0.3rem;
  }
}
