// 실제로는 map파일이 필요할것 같다.
$colors2: (
  'primary1': var(--origin-primary),
  'primary2': var(--origin-orange-200),
  'primary3': var(--origin-green-300),
  'primary4': var(--origin-blue-300),
  'primary5': var(--origin-purple-300),
);

@mixin dispatcher($selector, $arg, $colors) {
  @each $key, $value in $colors {
    .#{$selector}.#{$key} {
      #{$arg}: $value;
    }
  }
}

.tag {
  display: inline;
  font-size: var(--font-xs);
  color: white;
  padding: 0 0.5rem;
  border-radius: var(--border-radious);
}

@include dispatcher(tag, background-color, $colors2);
