.feedback {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: var(--scroll-margin-left);
  padding: 2rem 0;
  gap: 2rem;
  &__breadcrumb {
    display: flex;
    gap: 0.5rem;
    a {
      text-decoration: none;
      color: var(--origin-text-100);
    }
  }
  &__send {
    width: 100%;
    text-decoration: none;
    position: absolute;
    bottom: 6rem;
    max-width: calc(100% - 3rem);
  }
  &__content {
    width: 100%;
    max-height: calc(100% - 14rem);
    overflow-y: scroll;
  }
}
.evaluate-radio {
  appearance: none;
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0;
  label {
    display: flex;
    align-items: center;
    &:hover {
      cursor: pointer;
    }
  }
  input[type='radio'] {
    appearance: none;
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 100%;
    margin-right: 0.5rem;
    border: 1px solid var(--origin-primary);

    &:checked {
      background-color: var(--origin-primary);
    }
  }
}
