{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "printWidth": 80,
  "endOfLine": "auto",
  "trailingComma": "all",
  "arrowParens": "always",
  "bracketSameLine": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@apis/(.*)$",
    "^@pages/(.*)$",
    "^@components/(.*)$",
    "^@hooks/(.*)$",
    "^@styles/(.*)$",
    "^@stores/(.*)$",
    "^@contexts/(.*)$",
    "^@type/(.*)$",
    "^@constants/(.*)$",
    "^@utils/(.*)$",
    "^[./]"
  ],
  "importOrderSortSpecifiers": true
}
