.swiper {
  max-width: 400px;
  max-height: 640px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  max-width: 400px;
  max-height: 640px;
  object-fit: contain;
}
