.switch {
  position: relative;
  display: inline-block;
  width: 3.75rem;
  height: 1.875rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 1.5rem;
  width: 1.5rem;
  left: 0.25rem;
  bottom: calc(50% - 0.75rem);
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: var(--origin-shadow);
}

input:checked + .slider {
  background-color: var(--origin-orange-200);
}

input:checked + .slider:before {
  -webkit-transform: translateX(1.75rem);
  -ms-transform: translateX(1.75rem);
  transform: translateX(1.75rem);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
