$sizes: ('lg', 'md', 'sm');

.button {
  @each $size in $sizes {
    &--#{$size} {
      &:hover {
        cursor: pointer;
      }
      font-weight: bold;
      @if $size== 'lg' {
        height: 40px;
        padding: 5px 40px;
      } @else if $size== 'md' {
        height: 40px;
        padding: 5px 15px;
      } @else if $size== 'sm' {
        height: 25px;
        padding: 2px 7.5px;
      }
    }
  }
}
