.my-page {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  &__wrapper {
    justify-content: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    text-align: center;
    padding: 2rem;
  }

  &__main {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 2rem;

    &--nickname {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
  }

  &__name {
    display: flex;

    position: relative;
    gap: 1rem;
    & .circle-rotate {
      padding: 0;
      animation: rotate_image 1s linear infinite;
      transform-origin: center;
    }

    & > button {
      cursor: pointer;
      background-color: transparent;
      outline: none;
      border: none;
      padding: 0;
      & > span {
        vertical-align: bottom;
      }
    }
  }
  &__remind-way {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    &--no-verified {
      display: flex;
      align-items: center;
    }
  }

  &__email {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin-top: 2rem;
  }
}
@keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}
