.create-remind-message {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: calc(100% - 12.25rem);
  overflow-y: scroll;
  margin-left: var(--scroll-margin-left);

  &__title{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }

  &__list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 1rem;
  }
}
