$percents: (
  0: 3rem,
  25: 2.5rem,
  50: 2rem,
  75: 2.5rem,
  100: 3rem,
);

.modal {
  &-evaluate-wrapper {
    border-radius: var(--border-radius);
    width: 40rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    &__exit {
      position: absolute;
      top: 5px;
      right: 5px;
      &:hover {
        cursor: pointer;
      }
    }
    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__text {
      padding: 40px;
    }
    &__worning {
      display: flex;
      gap: 1rem;
      margin-top: 3rem;
    }
  }
  &__radio {
    margin: 2rem 0;
    display: flex;

    &-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 7rem;
      width: 7rem;
    }
    @each $percent, $rem in $percents {
      &--#{$percent} {
        label {
          width: $rem;
          height: $rem;
          border-radius: 50%;
          border: var(--border-width) solid var(--origin-gray-100);
          display: block;
          position: relative;
          &:hover {
            cursor: pointer;
          }
          &::after {
            content: '';
            display: block;
            width: calc(100% - 10px);
            height: calc(100% - 10px);
            border-radius: 50%;
            background-color: var(--origin-primary);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            visibility: hidden;
          }
        }
        input:checked + label {
          border: var(--border-width) solid var(--origin-primary);
          &::after {
            visibility: visible;
          }
        }
      }
    }
  }
}
