.plans-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: 100%;
  overflow: auto;
  padding: 2rem 0;
  &__breadcrumb {
    display: flex;
    gap: 0.5rem;
    a {
      text-decoration: none;
      color: var(--origin-text-100);
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    &--share {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      &--buttons {
        display: flex;
        gap: 1rem;
        flex-wrap: nowrap;
      }
      & label {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
    }

    &--buttons {
      a {
        width: 100%;
        text-decoration: none;
      }

      display: flex;
      justify-content: center;
      gap: 1.5rem;
    }
  }
}

.plan__header--buttons {
  position: relative;
  display: flex;
  gap: 1rem;
  a {
    text-decoration: none;
    color: var(--origin-text-100);
  }
  span {
    cursor: pointer;
  }

  &::after {
    position: absolute;
    content: '';
    display: block;
    height: 100%;
    width: 1px;
    background-color: black;
    left: 50%;
  }
}
