.plans-page {
  padding: 1.75rem 2.5rem;
  display: flex;
  flex-direction: column;

  &__remind {
    &:before {
      content: '';
      display: block;
      height: 0.3px;
      background-color: var(--origin-gray-100);
      border: 1px solid var(--origin-gray-100);
      margin: 2rem 0 2rem 0;
    }
  }

  &__button__container {
    display: flex;
    justify-content: center;
    gap: 13rem;
  }
}
