$header-height: 11.875rem;

.home {
  &__wrapper {
    width: 100%;
    height: 100%;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: $header-height;

    &-dropdown {
      margin-top: 2rem;
    }

    &--year {
      margin: 0.5rem;
      font-weight: bold;
    }
    &--total {
      margin-top: 0.75rem;
      margin-bottom: 1.5rem;
    }
  }
  &__plans {
    width: 100%;
    height: calc(100% - $header-height);
    overflow-y: auto;
  }
  &__number {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 2rem 0;
  }
}
