.new-plan {
  &__wrapper {
    text-decoration: none;
  }
  &__add {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 3rem;
    gap: 0.25rem;
    box-shadow: var(--origin-shadow);
  }
  &__servey {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem 0;
    gap: 0.25rem;
    &-a {
      text-decoration-line: none;
    }
  }
}
