.create-remind-date {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: calc(100% - 12.25rem);
  overflow-y: auto;


  &__title{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }

  &__option{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 3rem;

    &__answer{
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }
}
