:root {
  --origin-primary: #f76c5e;

  --origin-background-100: #ffffff;
  --origin-background-200: #fffef9;
  --origin-background-300: #fff6e9;

  --origin-orange-200: #feceab;
  --origin-orange-300: #f68e5f;
  --origin-green-300: #58b368;
  --origin-blue-300: #586ba4;
  --origin-purple-300: #b371d0;

  --origin-gray-100: #cccccc;
  --origin-gray-200: #2a363b84;
  --origin-gray-300: #2a363b;

  --origin-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
