:root {
  --origin-primary: #f76c5e;
  --origin-secondary: #bbb8b8;
  --origin-background: #ffffff;
  --origin-text-100: #000000;
  --origin-text-300: #5e5f60;
  --origin-text-600: #ffffff;

  --origin-white-100: #ffffff;
  --origin-white-200: #fffef9;
  --origin-white-300: #fff6e9;

  --origin-orange-200: #feceab;
  --origin-orange-300: #f68e5f;
  --origin-green-300: #58b368;
  --origin-blue-300: #586ba4;
  --origin-purple-300: #b371d0;

  --origin-gray-100: #cccccc;
  --origin-gray-200: #2a363b84;
  --origin-gray-300: #2a363b;

  --origin-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
