::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.1rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--origin-gray-100);
  border-radius: var(--border-radius);
}

.show-scrollbar::-webkit-scrollbar-thumb {
  background: var(--origin-gray-100);
  border-radius: var(--border-radius);
}
