// body::-webkit-scrollbar {
//   width: 0.5rem;
//   height: 0.5rem;
// }

// body::-webkit-scrollbar-thumb {
//   height: 50%;
//   background: var(--origin-white-200);

//   border-radius: var(--border-radius);
// }

// body::-webkit-scrollbar-track {
//   background: transparent;
// }

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.1rem;
}

// ::-webkit-scrollbar-thumb {
//   background: var(--origin-gray-100);
//   border-radius: var(--border-radius);
// }

::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: transparent;
}

.show-scrollbar::-webkit-scrollbar-thumb {
  background: var(--origin-gray-100);
  border-radius: var(--border-radius);
}
