.create-plan-icon {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: calc(100% - 12.25rem);
  overflow-y: auto;
  align-items: center;

  &__question {
    margin-top: 1rem;
  }

  &__icon-image {
    margin-top: 1.25rem;
  }

  &__icon-text {
    margin-top: 1.25rem;
  }

  &__select-box {
    margin-top: 1.5rem;
    width: 9rem;
    height: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: var(--border-radius);
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='%23000000FF' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    cursor: pointer;
  }

  &__example {
    margin-top: 4rem;
    margin-bottom: 0.5rem;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;

    &__text {
      margin-bottom: 0.5rem;
    }
  }
}
