$image-width: 9rem;

.plan {
  &__wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    text-decoration: none;
    margin-bottom: 1rem;
    box-shadow: var(--origin-shadow);
    &:hover {
      cursor: pointer;
    }
    &--text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: calc(100% - $image-width);
      gap: 0.25rem;
    }
    &--image {
      margin: 0.5rem 1.5rem;
    }
  }
  &__title {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
  }
  &__tag {
    padding: 0.4rem 0.6rem;
  }
  &__feedback {
    padding: 0.1rem 0.5rem;
    font-weight: bold;
    text-decoration: none;
  }
}
