.debounce-switch {
  display: flex;
  align-items: center;
  &__text {
    margin-left: 0.5rem;
    font-size: 1rem;
    color: var(--origin-gray-200);
    white-space: pre-wrap;
    text-align: center;
  }
}
