.footprint {
  &__container {
    margin-top: 1rem;
  }
  &__item {
    text-decoration: none;
    color: var(--origin-text-100);
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    &--title {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 200px;
    }
  }
}
