.inputTag {
  height: 1rem;

  &:focus-within {
    &::after {
      content: '엔터 입력시 태그를 등록 할 수 있고 등록된 태그는 클릭시 삭제됩니다.\A태그는 최대 5개까지 추가 할 수 있습니다.';
      position: absolute;
      color: var(--origin-white-200);
      white-space: pre;
      background-color: var(--origin-gray-200);
      left: 0;
      top: 1.5rem;
      margin-top: 1rem;
      display: block;
      border-radius: var(--border-radius);
      padding: 0.5rem 1rem;
      z-index: 1;
    }
  }
  &__tag {
    padding: 0;
    margin: 0;
    line-height: normal;
    background-color: inherit;
    width: 10rem;
    border: none;
    display: inline-block;
    height: 1rem;

    &::placeholder {
      font-size: 1rem;
      line-height: normal;
      height: 1rem;

      overflow: visible;
    }
    &:focus {
      outline: none;
      overflow: visible;
    }
  }
}
