.modal {
  &-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-basic-wrapper {
    border-radius: var(--border-radius);
    width: 500px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__text {
      padding: 40px;
    }
    &__button {
      display: flex;
      gap: 50px;
    }
  }
}
