.NotFound{
  &__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  &__title{
    margin-top: 2rem;
    font-size: 2rem;
  }

  &__description{
    margin-top: 1.3rem;
  }
}