.main-header {
  &__container {
    padding: 0;
    padding-top: 0.5rem;
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  &__text {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &__buttons {
    button {
      background-color: transparent;
      cursor: pointer;
    }
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
}
