.planInput--container {
  position: relative;
}

.planInput {
  padding: 0.5rem 1rem;
  width: 100%;
  color: var(--origin-gray-300);
  background-color: var(--origin-white-100);
  font-size: 1.25rem;
  border-radius: var(--border-radius);
  outline: none;
  resize: none;

  &--title {
    border: var(--border-width) solid var(--origin-orange-200);
    height: 2.6rem;
    overflow: hidden;
  }

  &--content {
    padding: 1rem 1rem;
    border: var(--border-width) solid var(--origin-orange-200);
    height: 10rem;
  }

  &--disabled{
    border: none;
    background-color: var(--origin-white-300);
  }

  &--editable {
    
    &::placeholder {
      opacity: 0;
    }

    &__label {
      position: absolute;
      left: 1rem;
      transform: translateY(-50%);
      font-size: 1rem;
      color: var(--origin-gray-100);
      letter-spacing: 1px;
      transition: 0.3s;
      pointer-events: none;
      top: 50%;

      &--title {
        top: 50%;
      }

      &--content {
        top: 1.5rem;
      }
    }

    :focus + &__label,
    :not(:placeholder-shown) + &__label {
      top: 0;
      font-size: 0.8rem;
      color: var(--origin-primary);
      background: var(--origin-white-200);
      padding: 0px 7px;
    }

    &:focus {
      border: 2px solid var(--origin-primary);
    }
  }
}