.remind-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__breadcrumb {
    margin-top: 2rem;
    align-self: flex-start;
    display: flex;
    gap: 0.5rem;
    a {
      text-decoration: none;
      color: var(--origin-text-100);
    }
  }

  &__title {
    margin-top: 2rem;
    margin-bottom: 0rem;
  }

  &__edit {
    margin-right: 1rem;
    align-self: flex-end;
    cursor: pointer;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-height: calc(100% - 14rem);
    overflow-y: scroll;
    margin-left: var(--scroll-margin-left);
    padding-bottom: 1rem;

    &__message-list {
      margin-top: 0.75rem;
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 1rem;
    }

    &__time {
      margin-top: 1rem;
      margin-bottom: 0.75rem;
    }
  }

  &__button {
    position: absolute;
    bottom: 6rem;
    max-width: calc(100% - 3rem);
  }
}
