.explore {
  &-plans {
    width: 100%;
    height: 100%;
    &__wrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
      margin: auto;
    }
    &__loader {
      display: block;
      margin: 0 auto;
    }
    &__plans {
      position: relative;
      overflow-y: scroll;
      margin-left: var(--scroll-margin-left);
    }
  }
}
