.icon__wrapper {
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 0.35rem;
  justify-content: space-between;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
