.readonly-remind {
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    align-items: center;

    &__title {
      font-size: 2rem;
      line-height: 2rem;
      margin-right: 0.5rem;
      margin-bottom: 0.2rem;
    }

    &__toggle {
      margin-left: 0.5rem;
      font-size: 0.625rem;
      color: var(--origin-gray-200);
    }
  }

  &__options {
    display: flex;
    margin-top: 1rem;
    font-size: 1.5rem;
    align-items: end;
    gap: 1rem;

    &__option {
      font-size: 2.5rem;
      color: var(--origin-primary);
    }
  }

  &__message__list {
    display: flex;
    margin-top: 1.7rem;
    margin-bottom: 1rem;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
  }
}
