.plan {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  &__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
    &--after--guide-button {
      position: absolute;
      right: 0;
      bottom: 0;
      border: none;
      background-color: transparent;
      &:hover {
        cursor: pointer;
      }
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
    &--tags {
      margin-top: -1rem;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    &--after {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }
}
