@import '../font.scss';

@mixin common($font) {
  @each $key, $value in $font {
    .font-size {
      &-#{$key} {
        font-size: $value;
        @if $value == 0.75rem {
          line-height: 1rem;
        } @else if $value == 0.875rem {
          line-height: 1.25rem;
        } @else if $value == 1rem {
          line-height: 1.5rem;
        } @else if $value == 1.5rem {
          line-height: 2rem;
        } @else if $value == 2rem {
          @media screen and (max-width: 380px) {
            font-size: 1.75rem;
          }
          line-height: 2.25rem;
        } @else {
          line-height: 1;
        }
      }
    }
  }
}

@mixin icon-common($font) {
  @each $key, $value in $font {
    .material-symbols-rounded.font-size {
      &-#{$key} {
        font-size: $value;
      }
    }
  }
}

@include common($font);
@include icon-common($font);
