@import '../font.scss';

@mixin common($font) {
  @each $key, $value in $font {
    .font-size {
      &-#{$key} {
        font-size: $value;
      }
    }
  }
}

@mixin icon-common($font) {
  @each $key, $value in $font {
    .material-symbols-rounded.font-size {
      &-#{$key} {
        font-size: $value;
      }
    }
  }
}

@include common($font);
@include icon-common($font);
