@use 'sass:math';

$card_width: 19rem;
$card_height: 12rem;
$card_margin: 0.5rem;

@mixin ellipsis($line) {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}

.card {
  &__wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    box-shadow: var(--origin-shadow);
    margin-bottom: 1rem;
    &--image {
      margin: 0 $card_margin 0 $card_margin;
    }
  }
  &__contents {
    &-wrapper {
      display: flex;
      flex-direction: column;
      align-items: start;
      margin-right: $card_margin;
    }
    &--title {
      width: calc(100%);
      @include ellipsis(1);
      margin-top: 1rem;
      font-weight: bold;
      margin-bottom: $card_margin;
    }

    &--nickname {
      @include ellipsis(1);
      font-weight: bold;
    }
    &--tags {
      @include ellipsis(2);
      height: 2.5rem;
    }
  }
}
