.wrapper {
  width: 100%;
  height: 100%;
  overflow: scroll;
  .login {
    &::after,
    &::before {
      content: '';
      width: 100%;
      display: block;
      height: 2rem;
      flex-shrink: 0;
    }
    &::after {
      height: 1px;
    }

    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    &__welcome-text {
      white-space: nowrap;
      display: flex;
      flex-direction: column;
      font-size: 2rem;
      line-height: 40px;
      &--logo {
        vertical-align: text-bottom;
      }
    }
    &__poster {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 100%;
      height: 100%;
      gap: 1rem;
      
      &--image {
        width: 100%;
        height: 257px;
        object-fit: contain;
      }

      &--text {
        word-break: keep-all;
      }
    }

    &__buttons {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      justify-content: center;
      text-align: center;
      &--image {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }

      &--unAuth {
        text-decoration: none;
      }
    }
  }
}
