@import '@styles/variables.scss';

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .login {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 2rem;
    .login {
      display: flex;
      flex-direction: column;
      gap: 30px;
      justify-content: center;
      align-items: center;

      &__sentence {
        display: flex;
        flex-direction: column;
        text-align: center;
      }

      &__buttons {
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        text-align: center;

        &--unAuth {
          text-decoration: none;
        }
      }
    }

    &__sentence {
      display: flex;
      flex-direction: column;
      text-align: center;
    }

    &__buttons {
      display: flex;
      flex-direction: column;
      gap: 30px;
      justify-content: center;
      text-align: center;

      &--unAuth {
        text-decoration: none;
      }
    }
  }
}
