@import '@styles/variables.scss';
.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .login {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;

    &__sentence {
      font-size: 1.5rem;
      text-align: center;
      color: var(--origin-gray-300);
    }

    &__buttons {
      display: flex;
      flex-direction: column;
      gap: 30px;
      justify-content: center;
      text-align: center;

      &--unLogin {
        text-decoration: none;
        color: var(--origin-gray-200);
      }
    }
  }
}
