.edit-plan-content {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 1rem;
  overflow-y: scroll;
  &__main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  &__icon {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    & > button {
      background-color: transparent;
    }
  }
  &__plan {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  &__tag {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    &--tags {
      display: flex;
      gap: 0.5rem;
      flex-wrap: wrap;
    }
  }

  &__switches {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    & > div {
      display: flex;
      gap: 0.5rem;
    }
  }
  &__bottom {
    display: flex;
    gap: 1.5rem;
    & a {
      width: 100%;
      text-decoration: none;
    }
  }
}
