.modal {
  &-verification-wrapper {
    border-radius: var(--border-radius);
    border-radius: var(--border-radius);
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    & input {
      border-radius: var(--border-radius);
      outline: none;
      border-style: solid;
      border-color: var(--origin-orange-200);
      &:focus {
        border-color: var(--origin-orange-300);
      }
    }

    &__exit {
      position: absolute;
      top: 5px;
      right: 5px;
      &:hover {
        cursor: pointer;
      }
    }
    &__content {
      gap: 1.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80%;
    }
    &__text {
      padding: 40px;
    }
    &__items {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 2rem;

      &--item {
        display: flex;
        & > input:first-child {
          flex-grow: 1;
        }
        &--message {
          height: 0.75rem;
          margin-top: -1rem;
          flex-basis: 0;
        }
      }
    }
  }
}

.visible-hidden {
  visibility: hidden;
}
