.modal {
  &-verification-wrapper {
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
    border-top: 1px solid var(--origin-secondary);
    width: 100%;
    max-height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 0 1.5rem;

    &__text {
      margin-top: 2rem;
    }
    &__exit {
      position: absolute;
      top: 5px;
      right: 5px;
      &:hover {
        cursor: pointer;
      }
    }
    &__content {
      gap: 1.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      & > .button {
        margin-bottom: 2rem;
      }
    }

    &__items {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      &--button {
        flex-shrink: 0;
      }

      &--item {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        & button {
          padding: 0.5rem 1rem;
        }

        & > input {
          border-radius: var(--border-radius);
          outline: none;
          border: 2px solid var(--origin-secondary);
          padding: 0.5rem 1rem;
          box-shadow: var(--origin-shadow);

          &:focus {
            border-color: var(--origin-orange-300);
          }
        }
        & > input:first-child {
          flex-grow: 1;
        }
        &--message {
          overflow: visible;
          flex-basis: 0;
          line-height: 1.5rem;
          height: 0;
          position: relative;
          & > span {
            position: absolute;
            top: -1.5rem;
          }
        }
      }
    }
  }
}

.visible-hidden {
  visibility: hidden;
}
