$tab-width: 100%;
$tab-underline-height: 0.125rem;
$sort-gap: 0.5rem;
$year-gap: 2rem;
.tab {
  &__wrapper {
    display: flex;
    align-items: flex-end;
    position: relative;
    margin: 2rem 0 1rem 0;
    &-year {
      width: $tab-width;
      padding-left: calc($year-gap / 2);
    }
    &-sort {
      display: flex;
      width: $tab-width;
      justify-content: flex-end;
      gap: $sort-gap;
    }
  }
  &__year-menu {
    display: flex;
    list-style: none;
    gap: $year-gap;
    &--align {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
    }
    &--focused {
      color: var(--origin-primary);
      &:hover {
        cursor: pointer;
      }
    }
    &--normal {
      color: var(--origin-secondary);
      &:hover {
        cursor: pointer;
      }
    }
    &--underline {
      margin-top: 0.5rem;
      height: $tab-underline-height;
      width: calc(100% + $year-gap);
    }
  }
  &__sort-menu {
    &--align {
      display: flex;
      justify-content: center;
      position: relative;
    }
    &--focused {
      color: var(--origin-primary);
      &:hover {
        cursor: pointer;
      }
    }
    &--normal {
      color: var(--origin-secondary);
      &:hover {
        cursor: pointer;
      }
    }
  }
}
